#enscart_my_wrapper {
    text-align: center;
    position: relative;
}
#enscart_myimage_wrapper {
    background: #ffffff;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    cursor: pointer;
    box-shadow: 0 0 20px 0 rgba(0,0,0,.4);
    -moz-transition: all .2s ease-out;
    -o-transition: all .2s ease-out;
    -webkit-transition: all .2s ease-out;
    transition: all .2s ease-out;
}
#enscart_my_wrapper img {
    height: 80%;
    width: auto;
    padding-top: 8px;
}
#enscart_my_counter_wrapper {
    cursor: pointer;
    min-width: 30px;
    height: 30px;
    background-color: #d62240;
    color: #fff;
    border-radius: 30px;
    position: absolute;
    right: -5px;
    top: -5px;
    text-align: center;
    line-height: 30px;
    font-family: Arial,sans-serif;
    margin: 0px 3px;
}
#easynetshop-cart {
    border: none;
    background-color: transparent;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #CECECE;
    background: #F1F3F4;
    height: 120px;
}
nav>ul{
    display: flex;
    align-items: center;
}
#logo{
    position: relative;
}
#logo>img{
    width: 160px;
    padding: 1rem 2rem;
    max-width: unset;
}
nav li{
    font-size: 1.4rem;
    letter-spacing: 0.2rem;
    text-transform: uppercase;
    padding: 1rem 2rem;
    width: 100%;
    font-weight: bold;
    white-space: nowrap;
}
#exchange-rate{
    height: 60px;
    cursor: pointer;
    max-width: unset;
}
#logo aside{
    position: absolute;
    right: 40px;
    bottom: 0;
}
#logo aside img{
    width: 30px ;
}
.pizza-card h3{
    margin: 0.8rem 0;
}
.pizza-card img{
    display: block;
    margin: 0 auto;
}
.pizza-card-content{
    border: 1px solid #CECECE;
    padding: 7% 10%;
    background: white;
    min-width: 150px;
}
.pizza-card .price{
    font-size: 1.7rem;
    margin: 0.8rem 0;
}
.counter{
    width: 160px;
    display: flex;
    margin-left: auto;
    justify-content: space-between;
    align-items: center;
}
.button{
    border: 2px solid #D62240;
    border-radius: 4rem;
    width: 160px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: white;
    text-transform: uppercase;
    font-size: 0.9rem;
    font-weight: bold;
    letter-spacing: 0.02rem;
    cursor: pointer;
    box-sizing: border-box;
}
.send{
    height: 40px;
}
.counter-button{
    border-radius: 50%;
    width: 40px;
    height: 40px;
    font-size: 2rem;
    color: #585959;
}
.button:hover{
    background: #D62240;
    color: white;
    transition: background, color 0.5s;
}
.quantity{
    font-weight: bold;
    font-size: 1.7rem;
}
#menu{
    background: #F1F3F4;
}
#menu>ul{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 30px;
    margin: 0 30px 30px;
}
nav{
    border-bottom: none;
}
#orders{
    background: white;
    min-height: calc(100vh - 120px);
    box-sizing: border-box;
}
.order{
    padding: 3% 0;
}
.order-content{
    width: 700px;
    margin: 0 auto;
    font-size: 1.3rem;
    word-spacing: 0.3rem;
}
.order-content.cost{
    text-align: right;
    font-size: 1.5rem;
    padding: 2% 0;
}
.pizza-cart-item{
    display: flex;
    justify-content: center;
}
.pizza-cart-item-content{
    display: flex;
    width: 700px;
    justify-content: space-between;
    padding: 20px 0;
    border-bottom: 1px solid #CECECE;
    align-items: center;
}
.pizza-cart-item-content > div{
    display: flex;
    align-items: flex-start;
}
.pizza-cart-item-content img{
    width: 80px;
}
.pizza-cart-item-content h3{
    font-size: 1.5rem;
    font-weight: normal;
    margin-left: 20px;
}
.pizza-cart-item-content p{
    margin-right: 20px;
    font-size: 1.9rem;
}
#order-info{
    display: flex;
    justify-content: flex-start;
    margin: 2rem auto;
}
#order-details #order-info{
    width: 300px;
}
#cart #order-info{
    width: 700px;
}
#order-info li{
    margin: 10px 0;
    font-size: 1.4rem;
}
#order-info button{
    margin-right: 2rem;
}
#order-details{
    display: flex;
    align-items: center;
    flex-direction: column;
}
#order-details>h1{
    padding: 5%;
}
#clear-cart{
    display: block;
    margin: 0 2rem 0 auto;
    padding: 0.7rem 0 0;
    font-size: 1.2rem;
    border-bottom: 2px dotted;
}
 .empty{
     text-align: center;
     padding: 5%;
 }
#cart{
    background: white;
    min-height: calc(100vh - 120px);
}
#cart .send{
    margin: 0 auto;
}
#order-details{
    background: white;
    min-height: calc(100vh - 120px);
}
#bgr{
    display: none;
    position: absolute;
    background: #3B3B3B;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    z-index: 4;
}
#bgr.show{
    display: flex;
}
#modal-window{
    background: white;
    position: relative;
    width: 40vw;
}
#content{
    padding: 5% 10%;
}
.close-pop-up{
    position: absolute;
    top: 1rem;
    width: auto;
    font-size: 1.5rem;
    background: white;
    cursor: pointer;
    right: 1rem;
    border-radius: 4rem;
    padding: 1%;
    height: 60px;
}
#content {
    display: flex;
    justify-content: center;
    align-items: center;
}
#content img{
    width: 30px ;
}
#checkout{
    background: white;
    min-height: calc(100vh - 120px);
}
ul#checkout-nav{
    display: flex;
    font-weight: bold;
    font-size: 1.3rem;
    letter-spacing: 0.1rem;
    padding: 5%;
    justify-content: center;
}
ul#checkout-nav li{
    margin: 0 5%;
    cursor: pointer;
}
.form{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
*{
    margin: 0;
    padding: 0;
}
body{
    font-family: "Arial Narrow";
    height: 100%;
    background: #F1F3F4;
    min-width: fit-content;
}
#app{
    min-height: 100%;
    background: #F1F3F4;
}
a{
    text-decoration: none;
    color: black;
}
img{
    max-width: 100%;
}
button{
    border: none;
    outline: none;
    background: none;
    cursor: pointer;
}
ul{
    list-style-type: none;
}
.hidden {
    display:none;
}
form label{
    font-size: 1.3rem;
}
form>div{
    display: grid;
    grid-row-gap: 0.7rem;
    margin-bottom: 10%;
}
form input{
    height: 40px;
    width: 300px;
    box-sizing: border-box;
    padding: 10px 30px;
    font-size: 1.3rem;
    border-radius: 4rem;
    outline: none;
}
#page-not-found{
    background: white;
    min-height: calc(100vh - 120px);
}
.back-to-menu{
    display: inline-block;
    width: 100%;
    text-align: center;
    color: #D62240;
    font-size: 1.3rem;
}
